[Desktop Entry]
Categories=Settings;System;Utility;
Comment=Simple and easy to use package manager
Encoding=UTF-8
Exec=/home/nicolas/RitualStore/NeoStore -f %f
GenericName=NeoStore
Icon=/home/nicolas/RitualStore/mybg.svg
MimeType=application/x-deb;
Name=neostore
Path=/home/nicolas/RitualStore/
StartupNotify=false
StartupWMClass=NeoStore
Terminal=false
Type=Application
Version=1.0
X-Deepin-Vendor=user-custom
X-Desktop-File-Install-Version=0.4
X-MultipleArgs=false
